<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OutputChanger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OutputChanger.Properties.Settings>
            <setting name="DisplayModKey" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DisplayFunctionKey" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="AudioModKey" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AudioFunctionKey" serializeAs="String">
                <value>9</value>
            </setting>
        </OutputChanger.Properties.Settings>
    </userSettings>
</configuration>